body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    background-color: white;
}

.wrap {
    width: 410px;
    overflow: hidden;
    margin: auto;
    margin-top: 180px;
    padding: 20px;
    background: white;
    border: 1px solid silver;
    border-radius: 5px;


}

.wrap h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
}

.wrap h2 {
    text-align: left;
    margin-bottom: 30px;
}

.wrap input {
    width: 400px;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid silver;
    padding: 20px;
}

.wrap .btn-login {
    width: 400px;
    height: 35px;
    background-color: #f45942;
    color: white;
    border-radius: 3px;
    border: 0;
    padding: 5px;
    font-size: 18px;

}